[submodule "crypto/sha1"]
	path = crypto/sha1
	url = https://github.com/secworks/sha1.git
[submodule "crypto/aes"]
	path = crypto/aes
	url = https://github.com/secworks/aes.git
[submodule "peripherals/uart"]
	path = peripherals/uart
	url = https://github.com/jamieiles/uart.git
[submodule "crypto/sha256"]
	path = crypto/sha256
	url = https://github.com/secworks/sha256.git
